
:root {
    --clr-1: #ffffff;
    --clr-2: #d3e9ec;
    --clr-3: #494b4c;
    --clr-4: #4495d7;
    --clr-5: #f7a600;
    --clr-6: #98d32b;
}

.top-part {
    background-color: var(--clr-4);
    color: var(--clr-1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
  
.middle-part {
    background-color: var(--clr-2);
    color: var(--clr-3);
    font-size: calc(10px + 2vmin);
}

.bottom-part {
    background-color: var(--clr-3);
    color: var(--clr-1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}


svg {
    padding: 5% 5% 5% 5%;
    
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-gap: 2%;
    padding: 2% 3% 2% 3%;
    height: calc(11vw + 2vmin);
}

.button-icon {
    width: 45%;
    padding: 5% 0% 5% 15%;
}

.cetec-icon {
    width: 60%;
    padding: 2%;
    margin-left: 20%;
    margin-top: -2%;
}

.button-text {
    width: 55%;
    position: relative;
    text-align: left;
    font-size: calc(1vw + 1vmin);
    display: flex;
    align-items:center;
    margin-left: 15px;
    line-height: 120%;
}

.menu-button {
    background-color: var(--clr-1);
    color: var(--clr-3);
    fill: var(--clr-3);
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    border-top: 10px solid var(--clr-3);
    font-weight: 400;
}

.menu-button:hover, .menu-button:focus {
    color: var(--clr-1);
    fill: var(--clr-1);
    font-weight: bolder;
}

.book-button:hover, .book-button:focus {
    background-color: var(--clr-5);
    border-top: 10px solid var(--clr-5);
}

.hat-button:hover, .hat-button:focus {
    background-color: var(--clr-6);
    border-top: 10px solid var(--clr-6);
}

.teacher-button:hover, .teacher-button:focus {
    background-color: var(--clr-4);
    border-top: 10px solid var(--clr-4);
}

.cetec-button:hover, .cetec-button:focus {
    background-color: var(--clr-4);
    border-top: 10px solid var(--clr-4);
}
