
:root {
    --clr-1: #ffffff;
    --clr-2: #d3e9ec;
    --clr-3: #494b4c;
    --clr-4: #4495d7;
    --clr-5: #f7a600;
    --clr-6: #98d32b;
    --clr-7: #d2d4d1;
}

.top-part {
    background-color: var(--clr-4);
    color: var(--clr-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
  
.middle-part {
    background-color: var(--clr-2);
    color: var(--clr-3);
    font-size: calc(10px + 2vmin);
}




svg {
    padding: 5%;
}

.adverts-container {
    width: 100%;
    font-size: calc(5px + 0.7vw);
    display: flex;
    flex-direction: row;
    padding: 3% 5%;
}

.adverts-title {
    float: left;
    width: 10%;
    color: var(--clr-1);
    background-color: var(--clr-4);
    padding: 0.80%;
    font-weight: bold;
    text-align: center;
}

.adverts-content {
    float: right;
    width: 90%;
    color: var(--clr-3);
    background-color: var(--clr-7);
    padding: 0.80%;
    padding-left: 3%;
}

.adverts-content a {
    text-decoration: none;
    color: var(--clr-3);
}

.adverts-content a:hover {
    text-decoration: none;
    color: var(--clr-4);
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-gap: 4%;
    padding: 3% 5% 3% 5%;
    margin: -4% 0% 0% 0%;
    height: calc(11vw + 2vmin);
}

.button-icon {
    width: 45%;
    padding: 5% 0% 5% 15%;
}

.cetec-icon {
    width: 60%;
    padding: 2%;
    margin-left: 20%;
    margin-top: -2%;
}

.button-text {
    width: 55%;
    position: relative;
    text-align: left;
    font-size: calc(1vw + 1vmin);
    display: flex;
    align-items:center;
    margin-left: 15px;
    line-height: 120%;
}

.menu-button {
    background-color: var(--clr-1);
    color: var(--clr-3);
    fill: var(--clr-3);
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    border-top: 10px solid var(--clr-3);
    font-weight: 400;
}

.menu-button:hover, .menu-button:focus {
    color: var(--clr-1);
    fill: var(--clr-1);
    font-weight: bolder;
}

.book-button:hover, .book-button:focus {
    background-color: var(--clr-5);
    border-top: 10px solid var(--clr-5);
}

.hat-button:hover, .hat-button:focus {
    background-color: var(--clr-6);
    border-top: 10px solid var(--clr-6);
}

.teacher-button:hover, .teacher-button:focus {
    background-color: var(--clr-4);
    border-top: 10px solid var(--clr-4);
}

.cetec-button:hover, .cetec-button:focus {
    background-color: var(--clr-4);
    border-top: 10px solid var(--clr-4);
}






.button-icon {
    width: 45%;
    padding: 5% 0% 5% 15%;
}

.title {
    text-align:center;
    font-size: 5vw;
    display: inline-block;
    font-weight: bold;
}

.title-text {

    display: inline-block;
}


.touch-icon {

    fill: var(--clr-1);
    color: var(--clr-1);
    padding: 0% 0% 0% 0%;
    margin-bottom: 10%;
    display: inline-block;
    width: 11vw;
    
}

.subtitle {
    text-align:center;
    font-size: 2vw;
    display: inline-block;
    font-weight: light;
    width: 80%;
    padding-bottom: 4%;
}



.cetec-icon {
    width: 60%;
    padding: 2%;
    margin-left: 20%;
    margin-top: -2%;
}



.bottom-part {
    background-color: var(--clr-3);
    color: var(--clr-1);
    font-size: calc(10px + 2vmin);
    width: 100%;
    display: inline-block;
    height: calc(10px+12vw);
}

.footer-text {
    font-size: calc(4px + 0.7vw);
    margin: 3vw;
    font-weight: lighter;
    line-height: 1vw;
    float: left;
}

.footer-image {
    float: right;
    margin: 15px;
    max-width: calc(26% + 30px);
    margin-right: 2%;
}

